$bg: var(--color-white);
$text: var(--color-gray);
$lightgray: #e5e5e5;
$gray: var(--color-gray);
$white: var(--color-white);

.accordion-item {
    border-bottom: 1px solid $gray;
    button[aria-expanded='true'] {
      border-bottom: 1px solid $gray;
    }
  
    button {
        position: relative;
        display: block;
        text-align: left;
        border-bottom: 1px solid $gray;
        width: 100%;
        padding: 1.5em var(--space-xl) 1.5em 1em;
        color: $text;
        font-size: 16px;
        font-weight: 400;
        background: none;
        outline: none;
        border: none;
        border-radius: 0;

        &:hover, &:focus {
        cursor: pointer;
        color: $gray;
        &::after {
            cursor: pointer;
            color: $gray;
  
        }
        }
        .accordion-title {
        padding: 1em 1.5em 1em 0;
        }
        .icon {
        display: inline-block;
        position: absolute;
        top: 25px;
        right: 1em;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
            display: block;
            position: absolute;
            content: '';
            top: 9px;
            left: 5px;
            width: 10px;
            height: 2px;
            background: currentColor;
        }
        &::after {
            display: block;
            position: absolute;
            content: '';
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: currentColor;
        }
        }
    }
    button[aria-expanded='true'] {
        color: $gray;
        border-bottom: none;

        font-weight: 600;
        .icon {
        &::after {
            width: 0;
        }
        }
        + .accordion-content {
        opacity: 1;
        max-height: 100em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
        }
    }
    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;

        p {
        font-size: 14px;
        margin-bottom: 2em;
        padding: 0 1em;
        }
    }
    .answer {
        color: $white;
        background: $gray;
        padding: 4px 12px;
        border-radius: 25px;
        margin-right: var(--space-base);
        margin-left: 1em;
    }
}