.mandatory:after{
    color: var(--color-red);
    content:" *";
  }

.contact-form {
    position: relative;
    z-index: 999;
}
.contact-form .form-row {
    text-align: left;
    margin-top: var(--space-s);
}
.form-row {
    text-align: left;
}
.contact-form input, .contact-form textarea {
    display: block;
    min-width: 130px;
}
.contact-form input, .contact-form textarea {
    margin-top: var(--space-s);
}
.contact-form .error, .newsletter-form .error{
    color: var(--color-red);
    margin-top: var(--space-xs) !important;
}

.input-error {
    outline: 1px solid var(--color-red) !important;
}

