.feature {
    position: relative;
    z-index: 100;
}
.feature.container {
    background: var(--color-white);
    border: 1px solid var(--color-gray);
    padding: var(--space-l);
    max-width: 1050px;
}

.feature.container p {
    text-align: justify;
}
/* .feature .wrapper-1 {
    grid-column: col-start 1 / -1;
} */
.feature .text-wrapper-1 {
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}
.feature .text-wrapper-1 .konichiwa {
    text-align: left;
    font-size: 36px;
}

.feature .img-wrapper-1, .feature .text-wrapper-2 {
    grid-column: col-start 2 / -1;
    grid-row: auto;
}
.feature .number {
    font-size: 51px;
    font-family: "Shippori Mincho", serif;
    line-height: 100%;
    float: left;
    margin-right: var(--space-base);
    margin-top: -4px;
}
.feature .text-wrapper-2 .first {
    margin-bottom: var(--space-base);
}

.feature .text-wrapper-3 {
    grid-column: col-start 1 / 3;
    grid-row: auto;
}
.feature .img-wrapper-3 {
    grid-column: col-start 3 / -1;
    grid-row: auto;
}
.feature .text-wrapper-4 {
    grid-column: col-start 1 / -1;
    grid-row: auto;
    text-align: left;
    margin-top: var(--space-l);
}
.feature .text-wrapper-5 {
    grid-column: col-start 1 / -1;
    grid-row: auto;
    text-align: justify;
    padding-left: var(--space-s);
    color: var(--color-white);
    background-color: var(--color-gray);
}
.feature .text-wrapper-5 .kanji {
    letter-spacing: 0;
}
.feature .text-wrapper-5 .katakana {
    letter-spacing: -0.1em;
}
.feature .img-wrapper-4 {
    grid-column: col-start 2 / 4;
    grid-row: auto;
}

.feature .text-wrapper-7 .koreda {
    font-weight: 600;
    writing-mode: vertical-lr;
    float: left;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.55em;
}
.feature .text-wrapper-7 {
    border-bottom: 1px solid var(--color-gray);
}
.feature .divider {
    border-bottom: 1px solid var(--color-gray);
    grid-column: col-start 1 / -1;
}
.feature .img-wrapper-5 {
    grid-column: col-start 1 / 3;
    grid-row: auto;
}
.feature .text-wrapper-8 {
    grid-column: col-start 3 / -1;
    grid-row: auto;
    text-align: justify;
}
.feature .text-wrapper-8 .koushite {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.1em;
}
.feature .text-wrapper-8 .list {
    margin-top: var(--space-base);
    margin-bottom: var(--space-base);
}
.feature .text-wrapper-8 .list .list-item {
    color: var(--color-white);
    background: var(--color-gray);
    margin-bottom: var(--space-xs);
    padding: var(--space-base);
}
.feature .text-wrapper-9 .first span {
    letter-spacing: 0.3em;
}
.feature .text-wrapper-10 {
    grid-column: col-start 2 / -1;
    grid-row: auto;
    color: var(--color-white);
    background: var(--color-gray);
    padding: 60px 150px;
    text-align: left;
}
.feature .text-wrapper-10 button {
    width: 100%;
}
.feature .text-wrapper-10 .title {
    font-size: 32px;
    margin-top: var(--space-base);
    margin-bottom: var(--space-m);
}

.feature .button-wrapper {
    grid-column: col-start 4 / -1;
    text-align: right;
}

@media screen and (max-width: 1080px) {
    #feature-page .header p {
        width: 100%;
        padding-left: var(--space-base);
        padding-right: var(--space-base);
    }
    .feature.container {
        display: flex;
        flex-direction: column;
        gap: var(--space-base);
        padding: var(--space-base);
    }

    .feature .text-wrapper-10 {
        padding: var(--space-base);
    }

    .feature .text-wrapper-5 {
        padding: var(--space-s);
    }
    .feature .text-wrapper-7 {
        border-bottom: none;
    }
}