footer {
    background-color: var(--color-gray);
    padding: 50px 200px;
    width: 100vw;
    color: var(--color-white);
    position: relative;
    z-index: 10;
}

footer .newsletter {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .touroku-box {
    z-index: 1000;
}
footer .touroku-box input {
    width: 300px;
}
footer .touroku-box button {
    margin-left: -25px;
}

footer a {
    color: var(--color-white);
}
footer a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
footer .policy {
    gap: var(--space-l);
    margin-bottom: var(--space-base);
}
@media screen and (max-width: 1300px) {
    footer {
        padding: var(--space-xl);
    }
    footer .touroku-box input {
        width: 350px;
    }
    footer .touroku-box button {
        margin-left: calc(var(--space-xxl)*-2)
    }
}
@media screen and (max-width: 1080px) {
    footer {
        padding: var(--space-base);
        padding-top: var(--space-xl);
    }
    footer .sns-list {
        margin-bottom: var(--space-m);
    }
    footer .newsletter {
        flex-direction: column;
    }
    footer .newsletter .text, footer .newsletter .text img {
        width: 100%;
    }
    footer .touroku-box {
        width: 100vw;
        padding: var(--space-base);
        padding-top: var(--space-l);
    }
    footer .touroku-box input {
        width: 70%;
    }
    footer .touroku-box button {
        margin-left: calc(var(--space-xxl)*-2);
        width: 120px;
        padding: 18px;
    }
}
@media screen and (max-width: 640px) {
    footer .policy, footer .copyright {
        font-size: 12px;
    }
    footer .policy {
        gap: var(--space-base);
    }
}
