.container {
    width: 1194px;
    margin: 0 auto;
    padding-top: var(--space-xxl);
    padding-bottom: calc(var(--space-xxl)*2);
}
.tp_writer, .tp_coach {
    padding-top: 120px;
}
.tp_blog {
    margin-bottom: var(--mb-footer);
}
.top-divider-white {
    border-top: 1px solid var(--color-white);
}
.top-divider-gray {
    border-top: 2px solid var(--color-gray);
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-m);
}
.tp_writer .card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tp_writer .card-wrapper .text-wrapper, .tp_coach .card-wrapper .coach-card .text-wrapper {
    background-color: var(--color-white);
    padding: var(--space-base);
    padding-left: var(--space-m);
    height: 100%;
}
.tp_writer .card-wrapper .writer-card .text-wrapper {
    border-right: 1px solid var(--color-gray);
}
.tp_writer .card-wrapper .ghostwriter-card .text-wrapper {
    border-left: 1px solid var(--color-gray);
}
.tp_writer .card-wrapper .text-wrapper .intro {
    margin-left: 125px;
    margin-top: 15px;
    letter-spacing: .15em;
}

.tp_coach .card-wrapper .coach-card .text-wrapper{
    height: 400px;
}
.tp_coach .card-wrapper .coach-card .text-wrapper .intro {
    margin-left: 70px;
    margin-top: 15px;
    letter-spacing: .15em;
}

.tp_coach .card-wrapper .coach-card .text-wrapper .cta-wrapper {
    text-align: right;
    align-content: end;
    height: 58%;
}

.tp_review .body .bottom {
    background: url('/public/img/topPage/TP_Review_bottom.png');
    height: 250px;
    text-align: center;
    align-content: center;
}
.review-card-wrapper {
    background: var(--color-white);
    padding: var(--space-m);
    border: 1px solid var(--color-gray);
    gap: var(--space-m);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

section.yourstory {
    background: url('/public/img/topPage/yourstory.png') no-repeat;
    background-position: center;
    height: 640px;
}
section.yourstory .wrapper {
    height: 100%;
    text-align: center;
    align-content: center;
    background: #1d1a19a4;
}
section.yourstory .wrapper button {
    margin-top: 80px;
}

.cursor {
    pointer-events: none;   
  }
  
.cursor .cursor__ball {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    z-index: 1;
} 
.cursor__ball--big {
    transform: scale(5);
}
.cursor circle {
    fill: #fff;
  }

.hero-column {
    border-right: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    width: 17vw;
    height: 100%;
    background: var(--color-white);
}
.hero-column .title{
    padding: var(--space-base);
}
.hero-column .list .item-title{
    padding: 0;
    letter-spacing: .1em;
}

.hero-column .list {
    padding: var(--space-base);
    padding-top: var(--space-m);
}
.hero-column .list .list-item {
    margin-bottom: var(--space-m);
}
.hero-column .list .list-item .item-title {
    padding: 0;
    font-weight: bold;
}
.hero-column .list .list-item .date {
    color: var(--color-light-gray);
    margin-bottom: var(--space-xs);
}
.hero-column .list .list-item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
}

@media screen and (max-width: 1080px) {
    .container {
        width: 100%;
        padding-bottom: 0;
    }
    .tp_writer .card-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-l);
    }
    .tp_writer .card-wrapper img {
        width: 100%;
    }
    .section-header {
        padding: var(--space-s);
    }
    .review-card-wrapper {
        flex-direction: column;
    }
    .tp_review .body .bottom {
        height: 50vh;
        background-size: cover;
        background-position-x: -350px;
        background-repeat: no-repeat;
    }
    section.yourstory {
        background-size: 200%;
        height: 445px;
    }
    #top-page section.feature .img-wrapper {
        width: 100%;
        background-position-x: center;
        background-size: 210%;
        height: 70vh;
        margin-top: 0;
    }
    #top-page section.feature .img-wrapper button {
        margin-top: 35%;
    }
    .tp_blog {
        margin-bottom: var(--mb-footer-mb);
    }
}