#blog-content-page .header .description {
    margin-left: calc(var(--space-xxl)*3);
    padding-top: var(--space-xl);
}
#blog-content-page .header .description p {
    font-size: 18px;
    margin-top: var(--space-base);
}
#blog-content-page .header .description .date {
    color: var(--color-light-gray);
    /* margin-top: var(--space-base); */

}
#previous_next_post .prev_post, #previous_next_post .next_post {
    width: 50%;
    z-index: 999;
    margin-bottom: var(--mb-footer);
}

#previous_next_post a {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    line-height: 1.8;
    height: 97px;
    position: relative;
    display: table;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--color-gray);
}
#previous_next_post a:hover {
    font-size: 16px;
    transform: scale(1.1);
}
#previous_next_post .prev_post:hover {
    z-index: 1000;
}
#previous_next_post .prev_post a {
    padding: 0 25px 0 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#previous_next_post a span {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    overflow: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#previous_next_post div:last-of-type a {
    /* border-left: none; */
}

#previous_next_post .next_post a {
    padding: 0 60px 0 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

