#contact-page img {width: 100%;}

#contact-page .profile-wrapper {
    width: 22vw;
    height: auto;
    margin-left: 17vw;
    padding-top: var(--space-xl);
}
#contact-page .profile-wrapper .img-wrapper {
    filter: saturate(50%);
    margin-bottom: var(--space-base);
}
#contact-page .profile-wrapper .img-wrapper:hover {
    filter: saturate(1);
    transition: 1s all;
}
#contact-page .profile-wrapper .text-wrapper p {
    border-top: 1px solid var(--color-gray);
    padding-top: var(--space-base);
    margin: var(--space-base) 0;

}
#contact-page .contact-wrapper {
    padding-left: 0px;
    padding-right: 17vw;
}

#contact-page .contact-wrapper .header {
    margin-bottom: var(--space-l);
}

@media screen and (max-width: 640px) {
    #contact-page {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--space-xxl);
    }
    #contact-page .profile-wrapper, #contact-page .contact-wrapper {
        width: 100%;
        padding: var(--space-base);
        margin: 0;
    }
    #contact-page .contact-wrapper .title {
        text-align: center;
    }
}