#service-page  img {
    width: 100%;
}
#service-page .img-wrapper {
    filter: saturate(50%);
}
#service-page .img-wrapper:hover {
    filter: saturate(1);
    transition: 1s all;
}
#service-page section.intro .gallery .item .title {
    background: var(--color-white);
    border: 1px solid var(--color-gray);
    text-align: center;
    padding: var(--space-m);
}

#service-page .grid {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
}
#service-page .wrapper {
    border: 1px solid var(--color-gray);
}
#service-page #writer .title, #service-page #ghostwriter .title, #service-page #coach .title {
    color: var(--color-white);
    background: var(--color-gray);
    text-align: center;
    padding: var(--space-m);
}
#service-page .p-wrapper {
    padding: var(--space-xl) var(--space-l);
}

#service-page .p-wrapper p {
    font-size: 16px;
}

#service-page #writer, #service-page #ghostwriter, #service-page #coach {
    position: relative;
    z-index: 10;
}
#service-page #coach {
    margin-bottom: var(--mb-footer);
}